.FullScreenLoading {
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  padding-bottom: 25vh;
}

.FullScreenLoading i.fa-spinner {
  font-size: 50px;
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

.Title {
  font-size: 1em;
  width: 30%;
  display: inline-block;
  text-align: left;
}
.Subtitle {
  font-size: 1.2em;
}

.ImageWrapper {
  position: relative;
  max-width: 100%;
}

.ImageWrapper img {
  object-fit: cover;
  /* border: 5px solid red; */
}

.DominateColor {
  display: inline-block;
  border: 1px solid black;
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

code {
  background-color: black;
  color: white;
}

.left {
  padding: 1em;
}
